
.custom-dropdown {
  position: relative;
}

.custom-dropdown select {
  color: #636363;
  font-size: inherit;
  width: 248px;
  padding: 14.5px 19px; 
  border: 2px solid #e3f2fd;
  font-family: Montserrat;
  font-weight: 300;
  font-style: normal;
  -webkit-appearance: button; 
  background-color: #fff;
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: '';
  position: absolute;
  pointer-events: none;
}

/*.custom-dropdown::after { 
  width: 20px;
  height: 10px;
  right: 41px;
  top: 69px;
  background: url("../images/arrow.png") no-repeat;
  font-size: .625em;
  line-height: 1;
}*/

.custom-dropdown::before { 

}

.custom-dropdown select[disabled] {
  color: rgba(0,0,0,.3);
}

.custom-dropdown select[disabled]::after {
  color: rgba(0,0,0,.1);
}

.custom-dropdown::after {
  color: rgba(0,0,0,.4);
}