@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-SemiBold.otf);
    font-weight: 700;
  	font-style: normal; 
}
@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Bold.otf);
    font-weight: 800;
    font-style: normal; 
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.otf);
    font-weight: 400;
  	font-style: normal; 
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Light.otf);
    font-weight: 300;
  	font-style: normal; 
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-UltraLight.otf);
    font-weight: 200;
    font-style: normal; 
}

@font-face {
    font-family: GothamBook;
    src: url(../fonts/GothamBook-Regular.otf);
    font-weight: 400;
    font-style: normal; 
}
