.main-footer{
    display: flex;
    justify-content: space-around;
    width: 80%;
    max-width: 960px;
    margin-top: 60px;
    color: #636363;
}
 @media screen and (max-width: 606px){
        .main-footer{
          display: flex;
					width: 98%;
          justify-content: center;
          flex-direction: column;
          align-items: center;
        }
    }
 @media screen and (max-width: 1200px){
        .footer-container{
          display: flex;
          justify-content: center;
        }
    }
.copyright{
  margin-right: 133px;
	margin-bottom: 31px;
	font-size: 15px;
	font-family: Montserrat;
	font-weight: 300;
  font-style: normal; 
}
 @media screen and (max-width: 606px){
        .copyright{
					margin-right: 0;
        }
    }
.contact{
	position: relative;
  a{
  font-size: 15px;
	font-family: Montserrat;
	font-weight: 300;
  font-style: normal;
  text-decoration: none;
  color: #636363;
  	&:hover{
  		opacity: 0.7;
  	}
  	&::after{
  		content: '';
			display: inline-block;
  		position: absolute;
  		top: -5px;
			left: -35px;
  		width: 30px;
  		height: 24px;
  		background: url('../images/mail.png') no-repeat;
  	} 
  }
}

 @media screen and (max-width: 1200px){
        .contact{
          float: none;
					margin-right: 0;
        }
    }


