.main-footer{
	margin-top: 60px;
	color: #636363;
	margin-bottom: 60px;
}
 @media screen and (max-width: 1200px){
        .footer-container{
          display: flex;
					justify-content: space-around;
        }
    }
.copyright{
	width: 180px;
	float: left;
	padding-left: 118px;
	margin-bottom: 40px;
	font-size: 15px;
	font-family: Montserrat;
	font-weight: 300;
  font-style: normal; 
}
 @media screen and (max-width: 1200px){
        .copyright{
          float: none;
					padding-left: 0;
        }
    }
.contact{
  float: right;
  margin-right: 340px;
	position: relative;
	width: 180px;
  a{
  font-size: 15px;
	font-family: Montserrat;
	font-weight: 300;
  font-style: normal;
  text-decoration: none;
  color: #636363;
  	&:hover{
  		opacity: 0.7;
  	}
  	&::after{
  		position: absolute;
  		top: -5px;
  		right: 195px;
  		content: '';
  		display: inline-block;
  		width: 30px;
  		height: 24px;
  		background: url('../images/mail.png') no-repeat;
  	} 
  }
}

 @media screen and (max-width: 1200px){
        .contact{
          float: none;
					margin-right: 0;
        }
    }


