@import 'reset';
@import 'fonts';
@import 'variables';
@import 'dropdown';
@import 'header';
@import 'content';
@import 'form';
@import 'footer';

html,
body{
  height: 100%;
}

.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.left-block {
  position: absolute;
  display: inline-block;
  width: 52%;
  z-index: 10;
}
 @media screen and (max-width: 1200px){
    .left-block{
      display: none;
    }
  }
.right-block {
  float: right;
  width: 47.66666666666667%;
  animation: right 0.8s;
}
 @media screen and (max-width: 1200px){
        .right-block{
            width: 90%;
            display: flex;
            margin: 0 auto;
            float: none;
        }
    }
