.main-form
		form.form-talk.clearfix
			h3.title Lets Talk 
			input(type="text" placeholder="First Name").input
			input(type="text" placeholder="Last Name").input
			input(type="email" placeholder="Email Addres").input
			span.custom-dropdown
				select
					option App Design
					option 
					option 
					option
			textarea(type="text" placeholder="Type your query here").input.text
			input(type="submit", value="Send").button.button-form